@model IEnumerable<PIM_8_CRUD.Models.Pessoas>

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas Cadastradas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Cadastrar</a>
</p>



<table class="table  table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>

            <td>
                <a asp-controller="Enderecoes" asp-action="Create">Endereco</a>
            </td>
            <td>
                <a asp-controller="Telefones" asp-action="Create">Telefone</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Mostrar</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
